<section class="about">
  <div class="about--inner">
    <div class="about--pic">
      <img src="/images/craft.jpg" alt="флорист за работой">
    </div>
    <div class="about--text">
      <h2>Немного о нас</h2>
      <ul>
        <li>свежие цветы прямиком из Голландии и Эквадора</li>
        <li>лучшие флористы города</li>
        <li>работаем 24 часа в сутки</li>
        <li>бесплатная доставка по всему городу</li>
      </ul>
      <p>
      Если вам нужна помощь в выборе или у вас есть вопросы, пожалуйста позвоните по нашему номеру, и мы поможем вам.  
      </p>
    </div> 
  </div>    
</section>
