<header class="site-head">
  <div class="hero">
    <div class="hero--hidden-headers">
      <h1>Доставка цветов <br/> в Ханты-Мансийске</h1>
      <h2>Аврелия</h2>
    </div>
    <canvas class="hero--headers"></canvas>
    <a href="#" class="button">Смотреть букеты</a>
  </div>
</header>
