<div class="top-sticky fixed">
  <button class="basket" aria-label="открыть корзину для покупок">
    <div class="basket--ic-wrap">
      <i class="icon-basket"></i>
      <span class="basket--counter">
        0
      </span>
    </div>
    <span>Корзина</span>
  </button >
  <div class="phone">
    <i class="icon-phone"></i>
    <a href="tel:84992711335">8-499-271-13-35</a>
  </div>
</div>
